<div
  *ngIf="products.length === 0"
  class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8"
>
  <div class="text-center">
    <p class="text-base font-semibold text-indigo-600">!oops</p>
    <h1
      class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl"
    >
      You don't have any products in the cart, Yet!
    </h1>
    <p class="mt-6 text-base leading-7 text-gray-600">
      Sorry, we couldn’t find any products in the cart, go to products to
      continue shopping
    </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a
        routerLink="/products"
        class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >Go to Product</a
      >
      <a routerLink="/" class="text-sm font-semibold text-gray-900"
        >To Home <span aria-hidden="true">&rarr;</span></a
      >
    </div>
  </div>
</div>

<div class="bg-white" *ngIf="products.length > 0">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:px-0">
    <h1
      class="text-center text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
    >
      Shopping Cart
    </h1>

    <form class="mt-12">
      <section aria-labelledby="cart-heading">
        <h2 id="cart-heading" class="sr-only">Items in your shopping cart</h2>

        <ul
          role="list"
          class="divide-y divide-gray-200 border-b border-t border-gray-200"
        >
          <app-cart-product [products]="products"></app-cart-product>
        </ul>
      </section>
      <section class="my-10">
        <div>
          <dl class="space-y-4">
            <div class="flex items-center justify-between">
              <dt class="text-base font-medium text-gray-900">Order Details</dt>
              <dd class="ml-4 text-base font-medium text-gray-900"></dd>
            </div>
          </dl>
          <p class="mt-1 text-sm text-gray-500"></p>
        </div>
        <form class="mx-10">
          <div>
            <label
              for="paymentType"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Payment Type</label
            >
            <div class="mt-2">
              <input
                id="paymentType"
                name="paymentType"
                type="text"
                autocomplete="paymentType"
                required
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
        </form>
      </section>
      <section aria-labelledby="summary-heading" class="mt-10">
        <h2 id="summary-heading" class="sr-only">Order summary</h2>

        <div>
          <dl class="space-y-4">
            <div class="flex items-center justify-between">
              <dt class="text-base font-medium text-gray-900">Subtotal</dt>
              <dd class="ml-4 text-base font-medium text-gray-900">
                $ {{ total }}
              </dd>
            </div>
          </dl>
          <p class="mt-1 text-sm text-gray-500">
            Shipping and taxes will be calculated at checkout.
          </p>
        </div>

        <div class="mt-10">
          <button
            type="submit"
            class="w-full rounded-md border border-transparent bg-indigo-600 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50"
          >
            Create New Order
          </button>
        </div>

        <div class="mt-6 text-center text-sm">
          <p>
            or
            <a
              routerLink="/products"
              class="font-medium text-indigo-600 hover:text-indigo-500"
            >
              Continue Shopping
              <span aria-hidden="true"> &rarr;</span>
            </a>
          </p>
        </div>
      </section>
    </form>
  </div>
</div>
