<header class="absolute inset-x-0 top-0 z-50">
  <nav
    class="flex items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a routerLink="/" class="-m-1.5 p-1.5">
        <img
          class="h-8 w-auto"
          src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
          alt=""
        />
      </a>
    </div>
    <div class="flex lg:hidden">
      <button
        (click)="toggleSidebar()"
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400"
      >
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a
        routerLink="/products"
        class="text-sm font-semibold leading-6 text-gray-900"
        >Products</a
      >
      <a
        routerLink="/orders"
        class="text-sm font-semibold leading-6 text-gray-900"
        >Orders</a
      >
      <a
        routerLink="/users"
        class="text-sm font-semibold leading-6 text-gray-900"
        >Users</a
      >
      <a
        target="_blank"
        href="https://egt-soft.com"
        class="text-sm font-semibold leading-6 text-gray-900"
        >Portfolio</a
      >
    </div>

    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a
        *ngIf="!isUserAuthenticated"
        routerLink="/login"
        class="text-sm font-semibold leading-6 text-gray-900"
        >Log in <span aria-hidden="true">&rarr;</span></a
      >
      <a
        *ngIf="isUserAuthenticated"
        routerLink="/cart"
        class="group -m-2 flex items-center p-2"
      >
        <svg
          class="h-6 w-6 flex-shrink-0 text-gray-400 group-hover:text-gray-500"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
          />
        </svg>
        <span
          class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800"
          >{{ products.length }}</span
        >
        <span class="sr-only">items in cart, view bag</span>
      </a>
    </div>
  </nav>
  <div
    *ngIf="isSidebarOpened"
    class="lg:hidden"
    role="dialog"
    aria-modal="true"
  >
    <div class="fixed inset-0 z-50"></div>
    <div
      class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
    >
      <div class="flex items-center justify-between">
        <a routerLink="/" class="-m-1.5 p-1.5">
          <img
            class="h-8 w-auto"
            src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
            alt=""
          />
        </a>
        <button
          (click)="toggleSidebar()"
          type="button"
          class="-m-2.5 rounded-md p-2.5 text-gray-700"
        >
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a
              routerLink="/products"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Products</a
            >
            <a
              routerLink="/orders"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Orders</a
            >
            <a
              routerLink="/users"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Users</a
            >
            <a
              href="https://egt-soft.com"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Portfolio</a
            >
          </div>
          <div class="py-6">
            <a
              *ngIf="!isUserAuthenticated"
              routerLink="/login"
              class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Log in <span aria-hidden="true">&rarr;</span></a
            >
            <a
              *ngIf="isUserAuthenticated"
              routerLink="/cart"
              class="group -m-2 flex items-center p-2"
            >
              <svg
                class="h-6 w-6 flex-shrink-0 text-gray-400 group-hover:text-gray-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
                />
              </svg>
              <span
                class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800"
                >{{ products.length }}</span
              >
              <span class="sr-only">items in cart, view bag</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
