<div class="space-y-20">
  <div
    class="rounded-lg bg-gray-50 px-4 py-6 sm:flex sm:items-center sm:justify-between sm:space-x-6 sm:px-6 lg:space-x-8"
  >
    <dl
      class="flex-auto space-y-6 divide-y divide-gray-200 text-sm text-gray-600 sm:grid sm:grid-cols-4 sm:gap-x-6 sm:space-y-0 sm:divide-y-0 lg:w-1/2 lg:flex-none lg:gap-x-8"
    >
      <div class="flex justify-between sm:block">
        <dt class="font-medium text-gray-900">Date placed</dt>
        <dd class="sm:mt-1">
          <time datetime="2021-01-22">{{ order.OrderDate | date }}</time>
        </dd>
      </div>
      <div class="flex justify-between pt-6 sm:block sm:pt-0">
        <dt class="font-medium text-gray-900">Order number</dt>
        <dd class="sm:mt-1">{{ order.OrderId }}</dd>
      </div>
      <div
        class="flex justify-between pt-6 font-medium text-gray-900 sm:block sm:pt-0"
      >
        <dt>Payment Type</dt>
        <dd class="sm:mt-1 capitalize">{{ order.PaymentType }}</dd>
      </div>
      <div
        class="flex justify-between pt-6 font-medium text-gray-900 sm:block sm:pt-0"
      >
        <dt>Total Price</dt>
        <dd class="sm:mt-1 capitalize">$ {{ order.totalPrice }}</dd>
      </div>
    </dl>
    <button
      (click)="toOrderPage(order.OrderId)"
      class="mt-6 flex w-full items-center justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:w-auto"
    >
      View Order
    </button>
  </div>

  <table class="mt-4 w-full text-gray-500 sm:mt-6">
    <tbody
      class="divide-y divide-gray-200 border-b border-gray-200 text-sm sm:border-t"
    >
      <tr *ngFor="let item of order?.Products">
        <td class="py-6 pr-8">
          <div class="flex items-center">
            <img
              src="{{ item.ProductImg }}"
              alt="Detail of mechanical pencil tip with machined black steel shaft and chrome lead tip."
              class="mr-6 h-16 w-16 rounded object-cover object-center"
            />
            <div>
              <div class="font-medium text-gray-900">
                {{ item.ProductName }}
              </div>
              <div class="mt-1 sm:hidden">${{ item.ProductPrice }}</div>
            </div>
          </div>
        </td>
        <td class="hidden py-6 pr-8 sm:table-cell">{{ item.Quantity }}x</td>
        <td class="hidden py-6 pr-8 sm:table-cell">${{ item.ProductPrice }}</td>
        <td class="hidden py-6 pr-8 sm:table-cell">Delivered Jan 25, 2021</td>
        <td class="whitespace-nowrap py-6 text-right font-medium">
          <a href="#" class="text-indigo-600"
            >View<span class="hidden lg:inline"> Product</span></a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
